* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/blue.background.svg");
}
img#orange-dots {
    position: relative;
    right: 400px;
}
#web-design {
    position: relative;
    top: -400px;
    right: 300px;
}